* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --color-dark: #191919;
    --color-light: #ffffff;
    --color-page: #FFDD00;
}

body {
    background: var(--color-dark);
    height: 99vh;
}

.search {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#txtSearch {
    width: 40%;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .6)
}

#txtSearch:focus {
    background-color: white
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    border-width: 0px;
    color: white;
    background-color: var(--color-dark);
}

.title:focus {
    border-width: 0px;
    background-color: var(--color-dark);
    outline: 0;
}

.plus {
    color: white;
    font-size: 19px;
}

.item {
    display: flex;
    margin-bottom: 8px;
}

.item-enter {
    border-width: 0.100rem;
    border-style: solid;
    border-color: white;
}

.close {
    margin-left: auto;
    color: #757575;
    background-color: var(--color-dark);
    cursor: pointer;
    font-size: larger;
}

.element {
    font-size: 14px;
    align-items: center;
    display: flex;
    padding-left: 12px;
    border-color: var(--color-dark);
    border-width: 0px;
    color: white;
    background-color: var(--color-dark);
    width: 90%;
}

.element:focus {
    border-width: 0px;
    background-color: var(--color-dark);
    outline: 0;
}

.appearance {
    appearance: none;
}

.line-through {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    color: #757575;
}

.checkbox-item {
    background-color: var(--color-dark);
    width: 0.85rem;
    height: 0.85rem;
    accent-color: var(--color-dark);
    border-width: 0.100rem;
    border-style: solid;
    border-color: white;
    cursor: pointer;
}

.checkbox-item:checked {
    background-color: var(--color-dark);
}

.edit-area {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 2px;
}

.square-edit {
    margin: 20px;
    padding: 20px;
    width: 500px;
    background-color: var(--color-dark);
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
}

.square-done {
    margin-top: 15px;
    /* padding: 20px; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    flex: none;
    width: 250px;
    /* height: 450px; */
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
}


#txtTitle {
    border: none;
    background: var(--color-dark);
}

.icon-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 15px;
    bottom: 20px;
    right: 20px;
    color: green;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
    z-index: 100;
    background-color: var(--color-dark);
    cursor: pointer;
    font-weight: bold;
}