* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --color-dark: #191919;
    --color-light: #ffffff;
    --color-page: #FFDD00;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: none;
    outline: none;
}

body {
    background: var(--color-dark);
}

.search {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
}

.hidden {
    display: none;
}

#txtSearch {
    width: 40%;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .6)
}

#txtSearch:focus {
    background-color: white
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.title[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
}

.plus {
    color: white;
    font-size: 14px;
}

.item {
    display: flex;
    margin-bottom: 8px;
}

.element {
    font-size: 14px;
    align-items: center;
    display: flex;
    padding-left: 12px;
    border-color: var(--color-dark);
    border-width: 0px;
    color: white;
    background-color: var(--color-dark);
}


.element:focus {
    border-width: 0px;
    background-color: var(--color-dark);
    outline: 0;
}

/* .element[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    font-size: 14px;
    background-color: transparent;
} */

.appearance {
    appearance: none;
}

.checkbox-item {
    background-color: var(--color-dark);
    width: 0.85rem;
    height: 0.85rem;
    accent-color: var(--color-dark);
    border-width: 0.100rem;
    border-style: solid;
    border-color: white;
}

.checkbox-item:checked {
    background-color: var(--color-dark);
}

.edit-area {
    display: flex;
    justify-content: center;
    /* border-color: #FFDD00;
    border-style: dashed; */
    margin: 10px;
    padding: 2px;
}

.square-edit {
    margin: 20px;
    padding: 20px;
    width: 600px;
    background-color: var(--color-dark);
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    flex: none;
    width: 250px;
    /* height: 450px; */
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
}


#txtTitle {
    border: none;
    background: var(--color-dark);
}

.icon-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 55px;
    bottom: 20px;
    right: 20px;
    color: green;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
    z-index: 100;
    background-color: var(--color-dark);
    cursor: pointer;
    font-weight: bold;
    font-size: 55px;
}